{% extends 'lab/index.html.j2' %}

{% block html_head %}
{{ super() }}
<style type="text/css">
  :root {
    --jp-content-font-size1: 11px !important;
    --jp-code-font-size: 9px !important;
  }
</style>
{% endblock html_head %}
